<f:layout name="Default" />

<f:section name="main">
	
	<f:if condition="{wallPosts -> f:count()} == 0">
		<f:translate key="wallPost.list.noMessages"/>
	</f:if>

	<f:widget.paginate objects="{wallPosts}" as="paginatedWallPosts" configuration="{itemsPerPage: 5, insertAbove : 0, insertBelow: 1}">
		<f:for each="{paginatedWallPosts}" as="wallPost">
			<div class="news">
				<div class="news-info">
					<f:link.page additionalParams="{tx_community : {user : wallPost.sender}}">
						<f:image
								src="<f:render partial='Profile/ImageUrl' arguments='{user : wallPost.sender, settings : settings}' />"
								class="user-photo-thumbnail" width="48c" height="47c" alt="{wallPost.sender.name}"
						/>
					</f:link.page>
					<div class="text-info">
						<p class="news-title">{wallPost.subject}</p>

					</div>
				</div>
				<p>{wallPost.message}</p>
				<div class="clearer"></div>
			</div>
		</f:for>
	</f:widget.paginate>

</f:section>
