<f:layout name="Default"/>

<f:section name="main">
	<div class="new-news">
		<p><f:translate key="wallPost.form.title"/></p>

		<f:render partial="FormErrors"/>

		<f:form class="tx_community_form" method="post" action="create" controller="WallPost" arguments="{user : recipient}" name="newWallPost" object="{newWallPost}">
			<fieldset>
				<div class="row">
					<f:form.textarea property="message" cols="40" rows="4"/>
				</div>
				<f:form.submit value="{f:translate(key:'wallPost.form.submit')}"/>
			</fieldset>
		</f:form>
	</div>
</f:section>