<f:layout name="Default"/>

<f:section name="main">
	<h2><f:translate key="profile.editImage.title"/></h2>
	<div id="data-edition-form">
		<f:form action="updateImage" controller="User" object="{requestedUser}" name="user" enctype="multipart/form-data">
			<fieldset>
				<div><f:translate key="profile.editImage.image"/></div>
				<f:image src="{f:render(partial:'Profile/ImageUrl', arguments:'{user : requestedUser, settings : settings}')}"
				         class="user-photo photo-edit" width="180c" height="180c" alt="{requestedUser.name}"
				/>
				<f:form.upload property="image"/>
				<f:form.submit value="{f:translate(key:'profile.editImage.submit')}" class="photo-edit-button"/>
			</fieldset>
		</f:form>
	</div>
</f:section>