<f:layout name="Default"/>
<f:section name="main">
<h2>{user.name}</h2>
<f:link.action action="editImage" class="button-link" controller="User"><f:translate key="profile.details.editImage"/></f:link.action>

<div  id="data-edition-form" class="tx_community_profile_edit">
<f:form action="update" controller="User" object="{user}" name="updatedUser">
	
	<h3><f:translate key="profile.details.title"/></h3>
		<div class="row">		
			<label><f:translate key="profile.details.username"/></label>
			<f:form.textbox disabled="disabled" property="username"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.name"/></label>
			<f:form.textbox property="name"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.gender"/></label>
			<f:form.select property="gender" options="{male : '{f:translate(key:\'profile.details.gender.male\')}', female : '{f:translate(key:\'profile.details.gender.female\')}'}"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.dateOfBirth"/></label>
			<f:form.textbox property="dateOfBirth" value="{user.dateOfBirth->f:format.date(format:'d.m.Y')}"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.politicalView"/></label>
			<f:form.textarea property="politicalView" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.religiousView"/></label>
			<f:form.textarea property="religiousView" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.activities"/></label>
			<f:form.textarea property="activities" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.interests"/></label>
			<f:form.textarea property="interests" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.music"/></label>
			<f:form.textarea property="music" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.movies"/></label>
			<f:form.textarea property="movies" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.books"/></label>
			<f:form.textarea property="books" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.quotes"/></label>
			<f:form.textarea property="quotes" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.aboutMe"/></label>
			<f:form.textarea property="aboutMe" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.address"/></label>
			<f:form.textarea property="address" rows="3" cols="50"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.city"/></label>
			<f:form.textbox property="city"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.zip"/></label>
			<f:form.textbox property="zip"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.country"/></label>
			<f:form.textbox property="country"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.www"/></label>
			<f:form.textbox property="www"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.cellphone"/></label>
			<f:form.textbox property="cellphone"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.phone"/></label>
			<f:form.textbox property="telephone"/>
		</div>
		<div class="row">
			<label><f:translate key="profile.details.email"/></label>
			<f:form.textbox property="email"/>
		</div>
	
	<f:form.submit value="{f:translate(key:'profile.details.edit.submit')}"/>
</f:form>

</div>
</f:section>