<label><f:translate key="tx_community_domain_model_album.name" /> <span class="required">(required)</span></label><br />
<f:form.textfield property="name" /><br />
<label><f:translate key="tx_community_domain_model_album.private" /> <span class="required">(required)</span></label><br />
<f:form.select property="private" options="{0: '{f:translate(key:\'profile.album.public\')}', 1 : '{f:translate(key:\'profile.album.loggedInOnly\')}', 2 : '{f:translate(key:\'profile.album.friendsOnly\')}' }"/><br />