<f:layout name="Default"/>

<f:section name="main">
	<f:form action="create" controller="Group" name="group" object="{group}">
		<h3><f:translate key="group.new.title"/></h3>
		<dl>
			<dt><f:translate key="group.new.name"/></dt>
			<dd><f:form.textfield property="name"/></dd>

			<dt><f:translate key="group.new.description"/></dt>
			<dd><f:form.textarea property="description" rows="3" cols="30"/></dd>

			<dt><f:translate key="group.new.image"/></dt>
			<dd><f:form.upload property="image"/></dd>

		</dl>
		<f:form.submit value="{f:translate(key:'group.new.submit')}"/>
	</f:form>
</f:section>