<f:layout name="Default"/>

<f:section name="main">
	<h3>
		<f:translate key="group.show.title" arguments="{name : group.name}"/>
		<f:if condition="{canJoin}">
			<f:link.action action="requestMembership" controller="Group" arguments="{group : group}"><f:translate key="group.show.request"/></f:link.action>
		</f:if>
		<f:if condition="{isAdmin}">
			<f:link.action action="edit" controller="Group" arguments="{group : group}"><f:translate key="group.show.edit"/></f:link.action>
		</f:if>
	</h3>

	<f:render partial="Group/image" arguments="{group : group, settings : settings}"/>

	<dl>
		<dt>
			<f:translate key="group.show.name"/>
		</dt>
		<dd>
			{group.name}
		</dd>
		<dt>
			<f:translate key="group.show.description"/>
		</dt>
		<dd>
			{group.description}
		</dd>
		<dt>
			<f:translate key="group.show.creator"/>
		</dt>
		<dd>
			{group.creator.username}
		</dd>
		<dt>
			<f:translate key="group.show.members"/>
		</dt>
		<dd>
			<f:render partial="User/ListUser" arguments="{users : group.admins, settings : settings}"/>
			<f:render partial="User/ListUser" arguments="{users : group.members, settings : settings}"/>
		</dd>
		<f:if condition="{isAdmin}">
			<f:if condition="{group.pendingMembers}">
			<dt>
				<f:translate key="group.how.pendingMembers"/>
			</dt>
			<dd>
				<ul>
					<f:for each="{group.pendingMembers}" as="pendingMember">
						<li>
							{pendingMember.name}
							<f:link.action action="confirm" controller="Group" arguments="{group : group, user : pendingMember}">
								<f:translate key="group.show.confirm"/>
							</f:link.action>
						</li>
					</f:for>
				</ul>
			</dd>
			</f:if>
		</f:if>
	</dl>
</f:section>