<f:if condition="{subject}"><f:then>{notification.sender.name} wants to be your friend</f:then><f:else><f:if condition="{plainText}"><f:then>Hi {notification.recipient.name},

{notification.sender.name} wants to be your friend.

Go to <f:if condition="{notification.sender.gender} == 0"><f:then>his</f:then><f:else>her</f:else></f:if> profile:

<f:uri.page additionalParams="{tx_community: {user: notification.sender}}" pageUid="{settings.profilePage}" />

To confirm this request, follow the link below:

<f:uri.action absolute="1" pageUid="{settings.relationPage}" controller="Relation" action="confirm" arguments="{relation: notification.relation.uid}" />

To see all your pending friend requests, follow the link below:

<f:uri.action absolute="1" pageUid="{settings.relationPage}" controller="Relation" action="unconfirmed" />
</f:then><f:else>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Community</title>
</head>
<body style="margin: 0; padding: 0;" dir="ltr">
<table border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
	<tbody>
		<tr>
			<td style="padding: 10px 0 0 10px; font-size: 11px; font-family: tahoma,verdana,arial,sans-serif;">
				<table style="font-size: 11px; width: 100%;">
					<tbody>
						<tr>
							<td style="padding: 3px 5px 5px 0px; width: 57px;" valign="top">
								<f:link.page absolute="1" additionalParams="{tx_community: {user: notification.sender}}" pageUid="{settings.profilePage}" style="text-decoration: none; font-weight: bold;" title="{notification.sender.name}">
									<f:image src="{f:render(partial:'Profile/ImageUrl', arguments:'{user: notification.sender, settings: settings}')}"
											 alt="{notification.sender.name}" maxWidth="200" maxHeight="120m"
											 style="border: 0;"
									/>
								</f:link.page>
							</td>
							<td align="left" style="padding: 5px 5px 5px 0; font-family: tahoma,verdana,arial,sans-serif;" valign="top">
								<table cellpadding="0" cellspacing="0" style="width: 100%;">
									<tbody>
										<tr>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding-bottom:2px;">
												<span style="color:#111111;font-size:14px;font-weight:bold;"><f:link.page absolute="1" additionalParams="{tx_community: {user: notification.sender}}" pageUid="{settings.profilePage}" style="text-decoration: none; font-weight: bold;">{notification.sender.name}</f:link.page> wants to be your friend.</span>
											</td>
										</tr>
										<tr>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding-top:1px;padding-bottom:2px;">
												<span style="color: #808080;">{notification.sender.city}</span>
											</td>
										</tr>
										<!--<tr>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding-top:1px;">
												<span style="color:#333333;">??? (TODO!) friends</span>
											</td>
										</tr>-->
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding: 10px 5px 15px 10px; border-top: #E9E9E9 1px solid; line-height: 18px; font-size: 12px; font-family: tahoma,verdana,arial,sans-serif;">
								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding-left:50px;">
												<f:link.action absolute="1" pageUid="{settings.relationPage}" action="confirm" controller="Relation" arguments="{relation: notification.relation.uid}" style="text-decoration: none; font-weight: bold;">Confirm Friend Request</f:link.action>
											</td>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding:0px 10px;">
												&nbsp;</td>
											<td style="font-size:11px;font-family:tahoma, verdana, arial, sans-serif;padding:7px 0px 6px;">
												<f:link.action absolute="1" pageUid="{settings.relationPage}" action="unconfirmed" controller="Relation" style="text-decoration: none; font-weight: bold;">See All Requests</f:link.action>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</body></html>
</f:else></f:if></f:else></f:if>