<f:if condition="{subject}">
	<f:then>
		Community - relation request
	</f:then>
	<f:else>
		User <f:link.action absolute="1" arguments="{user: notification.sender}" pageUid="{settings.profilePage}"  controller="User" action="details"> {notification.sender.username} </f:link.action> wants to add you to his friends.<br />
		You can confirm or reject his request <f:link.action absolute="1"  pageUid="{settings.relationPage}" controller="Relation" action="unconfirmed">here</f:link.action>.
	</f:else>
</f:if>