{namespace com=Tx_Community_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<h1>Listing for album of user {requestedUser.name}</h1>

	<table class="tx_community">
		<tr>
			<th><f:translate key="tx_community_domain_model_album.name" /></th>
			<com:sameUser requestingUser="{requestingUser}" requestedUser="{requestedUser}">
				<th><f:translate key="tx_community_domain_model_album.private" /></th>
				<th></th>
				<th></th>
			</com:sameUser>
		</tr>
		<f:for each="{albums}" as="album">
			<com:hasAccessToAlbum album="{album}" relation="{relation}" requestingUser="{requestingUser}">
				<f:then>
					<tr>
						<td>
							<f:link.action action="show" arguments="{album : album}">
								<f:if condition="{album.mainPhoto}">
									<f:then>
										<f:image src="{settings.album.image.prefix}{album.mainPhoto.image}" height="100m" width="100m" alt="photo"/>
									</f:then>
									<f:else>
										<f:image src="{settings.album.dafaultAlbumMainPhoto}" height="100m" width="100m" alt="photo"/>
									</f:else>
								</f:if>
								<br />
								{album.name}
							</f:link.action>
						</td>
						<com:sameUser requestingUser="{requestingUser}" requestedUser="{album.user}">
							<td><f:render partial="Album/PrivacyToString" arguments="{privacy : album.private}" /></td>
							<td><f:link.action action="edit" arguments="{album : album}">Edit</f:link.action></td>
							<td><f:link.action action="delete" arguments="{album : album}">Delete</f:link.action></td>
						</com:sameUser>
					</tr>
				</f:then>
			</com:hasAccessToAlbum>
		</f:for>
	</table>

	<com:sameUser requestingUser="{requestingUser}" requestedUser="{requestedUser}">
		<f:link.action action="new">New Album</f:link.action>
	</com:sameUser>
</f:section>