<div class="tx_community_relation_listsome">
    <f:if condition="{usersRelations}">
        <h4><f:translate key="profile.listSome.friends"/></h4>
        <ul>
            <f:for each="{usersRelations}" as="user" key="relationUid">
                <li>
                    <f:link.page additionalParams="{tx_community : {user : user}}">{user.name}</f:link.page>
                    <f:link.action action="cancel" controller="Relation" pageUid="{settings.actionPage}" arguments="{relation : relationUid}">
					(<f:translate key="relation.confirmed.cancel"/>)
                    </f:link.action>
                </li>
            </f:for>
        </ul>
        <f:link.action action="list" controller="Relation" arguments="{user : user}"><f:translate key="profile.listSome.list"/></f:link.action>
    </f:if>
    <f:if condition="{unconfirmedRelations}">
        <h4><f:translate key="profile.listSome.unconfirmed"/></h4>
        <ul>
            <f:for each="{unconfirmedRelations}" as="relation">
                <li>
                <f:link.page additionalParams="{tx_community : {user : relation.initiatingUser}}">{relation.initiatingUser.name}</f:link.page>
                <f:link.action action="confirm" controller="Relation" pageUid="{settings.actionPage}" arguments="{relation : relation}">
					(<f:translate key="relation.unconfirmed.confirm"/>)
                </f:link.action>
                <f:link.action action="reject" controller="Relation" pageUid="{settings.actionPage}" arguments="{relation : relation}">
					(<f:translate key="relation.unconfirmed.reject"/>)
                </f:link.action>
                </li>
            </f:for>
        </ul>
    </f:if>

</div>