<f:layout name="Default"/>

<f:section name="main">
	<h2><f:translate key="message.outbox.title"/></h2>
	<div class="message-nav">
		<ul>
			<li>
				<f:link.action action="unread" controller="Message" pageUid="{settings.messagePage}">
					<f:translate key="message.navigation.unread"/>
				</f:link.action>
			</li>
			<li>
				<f:link.action action="inbox" controller="Message" pageUid="{settings.messagePage}">
					<f:translate key="message.navigation.inbox"/>
				</f:link.action>
			</li>
			<li class="active">
				<f:link.action action="outbox" controller="Message" pageUid="{settings.messagePage}">
					<f:translate key="message.navigation.sentMail"/>
				</f:link.action>
			</li>
		</ul>
	</div>
	<f:if condition="{messages}">
		<f:then>
			<f:render partial="Message/ListOwn" arguments="{messages : messages, settings : settings}"/>
			<script type="text/javascript">
				jQuery('.messages .item-delete').click(function(){
					var answer = confirm ("<f:translate key='message.delete.confirm'/>");
					if (!answer) {
						return false;
					  }
					});
			</script>
		</f:then>
		<f:else>
			<f:translate key="message.outbox.nomessages"/>
		</f:else>
	</f:if>
</f:section>