{namespace com=Tx_Community_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<table class="tx-community-message-header">
		<tbody>
			<tr>
				<td><strong><f:translate key="message.read.from"/></strong></td>
				<td><f:render partial="Profile/LinkToProfile" arguments="{user: message.sender, settings: settings}"/></td>
			</tr>
			<tr>
				<td><strong><f:translate key="message.read.to"/></strong></td>
				<td><f:render partial="Profile/LinkToProfile" arguments="{user: message.recipient, settings: settings}"/></td>
			</tr>
			<tr>
				<td><strong><f:translate key="message.read.date"/></strong></td>
				<td><f:format.date format="d.m.Y, H:i">{message.sentDate}</f:format.date></td>
			</tr>
			<tr>
				<td><strong><f:translate key="message.read.subject"/></strong></td>
				<td>{message.subject}</td>
			</tr>
		</tbody>
	</table>

	<com:sameUser requestingUser="{requestingUser}" requestedUser="{message.sender}">
		<f:then>
			<!-- outbox -->
			<f:if condition="{message.recipient}">
				<f:then>
					<f:link.page additionalParams="{tx_community: {user: message.recipient}}" pageUid="{settings.profilePage}" class="tx-community-message-image-link">
						<f:image src="{f:render(partial:'Profile/ImageUrl', arguments:'{user: message.recipient, settings: settings}')}"
							class="user-photo-thumbnail" width="155" height="180m" alt="{message.recipient.name}"
						/>
					</f:link.page>
				</f:then>
				<f:else>
					<f:image src="{settings.profile.image.defaultImage}"
						class="user-photo-thumbnail" width="155" height="180m" alt="{f:translate(key:'profile.deletedUserName')}"
					/>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<!-- inbox -->
			<f:if condition="{message.sender}">
				<f:then>
					<f:link.page additionalParams="{tx_community: {user: message.sender}}" pageUid="{settings.profilePage}" class="tx-community-message-image-link">
						<f:image src="{f:render(partial:'Profile/ImageUrl', arguments:'{user: message.sender, settings: settings}')}"
							class="user-photo-thumbnail" width="155" height="180m" alt="{message.sender.name}"
						/>
					</f:link.page>
				</f:then>
				<f:else>
					<f:image src="{settings.profile.image.defaultImage}"
						class="user-photo-thumbnail" width="155" height="180m" alt="{f:translate(key:'profile.deletedUserName')}"
					/>
				</f:else>
			</f:if>
		</f:else>
	</com:sameUser>

	<div class="tx-community-message-body">
		<f:format.nl2br><com:parseSmilies><com:parseLinks string="{message.message}" /></com:parseSmilies></f:format.nl2br>
	</div>
	<div class="item-delete">
		<f:alias map="{backActionName: '{com:sameUser(requestingUser: requestingUser, requestedUser:  message.sender, then: \'outbox\', else: \'inbox\')}'}" >
			<f:link.action action="delete" additionalParams="{tx_community : {message : message, redirectAction: backActionName}}" title="{f:translate(key:'message.list.delete')}">
				<f:translate key="message.list.delete"/>
			</f:link.action>
		</f:alias>
		<script type="text/javascript">
			jQuery('.tx-community-message-header .item-delete').click(function(){
				var answer = confirm("{f:translate(key: 'message.delete.confirm'}");
				if (!answer) {
					return false;
				}
			});
		</script>
	</div>
	<div class="back-link"><a href="javascript: history.go(-1)">&lt;- <f:translate key="message.read.back" /> </a></div>
</f:section>