<f:layout name="default"/>

<f:section name="main">
	<div class="tx-community-message-write">
		<h3><f:translate key="message.write.title" arguments="{name : recipient.name}"/></h3>
		<f:form object="{message}" name="message" action="send" controller="Message">
			<dl>
				<dt><f:translate key="message.write.subject"/></dt>
				<dd><f:form.textbox property="subject"/></dd>
				
				<dt><f:translate key="message.write.message"/></dt>
				<dd><f:form.textarea property="message" rows="5" cols="30"/></dd>
				
			</dl>
			
			<f:form.hidden property="recipient" value="{recipient}"/>
			<f:form.submit value="{f:translate(key:'message.write.submit')}"/>
		</f:form>
	</div>
</f:section>