<f:layout name="Default"/>

<f:section name="main">
	<div class="write-message">
		<h1><f:translate key="message.write.title" arguments="{name : recipient.name}"/></h1>
		<f:render partial="FormErrors"/>
		<f:form class="tx_community_form" object="{message}" name="message" action="send" controller="Message" arguments="{user : recipient}">
			<f:form.hidden property="recipient" value="{recipient}"/>
			<fieldset>
				<div class="row">
					<label><f:translate key="message.write.subject"/></label>
					<f:form.textfield property="subject"/>
				</div>
				<div class="row">
					<label><f:translate key="message.write.message"/></label>
					<f:form.textarea property="message" rows="5" cols="30"/>
				</div>
				<f:form.submit value="{f:translate(key:'message.write.submit')}"/>
			</fieldset>
		</f:form>
	</div>
</f:section>