.tx_community_form .row { clear:both; margin: 0 0 0.5em;}
.tx_community_form .row label {float:left; margin-right:5%;width:30%; }
.tx_community_form .row input, .row textarea, .row select, .row fieldset { width: 50%;}


input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

.tx-community-pi1 table {
	border-collapse:separate;
	border-spacing:10px;
}

.tx-community-pi1 table th {
	font-weight:bold;
}

.tx-community-pi1 table td {
	vertical-align:top;
}
.tx-community-message-list-unread {
	font-weight: bold;
}

.tx-community-message-header {
	float: left;
}

.tx-community-message-image-link {
	float: right;
}
.tx-community-message-body {
	clear: both;
	border-bottom: 1px solid #C9C9C9;
	border-top: 1px solid #C9C9C9;
	margin: 15px 0;
	padding: 15px 0;
}
.tx_community_profile_details dt {
	clear: left;
	display: block;
	float: left;
	margin-top: 5px;
	width: 50%;
}
.tx_community_profile_details dd {
	float: left;
	margin-left: 2px;
	margin-top: 5px;
}
.tx_community_profile_details dl {
    overflow: hidden;
}

.tx_community_wall #tx_comments_pi1_content {
	width:100%;
	height:50px;
}
/*
 * FLASH MESSAGES
 */
.typo3-messages,
ul.form-errors {
	margin-bottom: 10px;
}
	.typo3-message,
	ul.form-errors li {
		margin-bottom: 2px;
		padding: 6px 6px 6px 26px;
		background-position: 5px 7px;
		background-repeat:no-repeat;
		border:1px solid;
		font-size:11px;
	}
	.typo3-message a {
		text-decoration:underline;
	}
	.typo3-message .message-header {
		font-size:11px;
		font-weight:bold;
	}
		.message-notice {
			background-color:#F6F7FA;
			background-image:url("../Images/notice.png");
			border-color:#C2CBCF;
			color:#777777;
		}
		.message-notice a {
			color:#777777;
		}
		.message-information {
			background-color:#EAF7FF;
			background-image:url("../Images/information.png");
			border-color:#C5DBE6;
			color:#4C73A1;
		}
		.message-information a {
			color:#4C73A1;
		}
		.message-ok {
			background-color:#CDEACA;
			background-image:url("../Images/ok.png");
			border-color:#58B548;
			color:#3B7826;
		}
		.message-ok a {
			color:#3B7826;
		}
		.message-warning {
			background-color:#FBF6DE;
			background-image:url("../Images/warning.png");
			border-color:#B1905C;
			color:#9E7D4A;
		}
		.message-warning a {
			color:#9E7D4A;
		}
		.message-error,
		ul.form-errors li{
			background-color:#F6D3CF;
			background-image:url("../Images/error.png");
			border-color:#D66C68;
			color:#AA0225;
		}
		.message-error a {
			color:#AA0225;
		}
/*
 * WALL
 */
.wall-item-wrap {
	border-top: 1px solid #cccccc;
}
.wall-item {
	padding: 10px 20px;
	overflow:hidden;
	position: relative;
}
.wall-item .item-image {
	float:left;
	margin-right: 10px;
}
.wall-item .item-content-wrap {
	overflow: hidden;
}
.wall-item .item-delete {
	float: right;
}

/*
 * LIST SOME RELATIONS
 */
.tx_community_relation_listsome .item-image {float:left; overflow: hidden; margin-right:5px;}
.tx_community_relation_listsome .relation-item {overflow: hidden; margin-bottom: 10px;}
.tx_community_relation_listsome .relation-item .content-wrap {}

/*
 * PAGINATOR
 */
ul.f3-widget-paginator {
	text-align: center;
}
	ul.f3-widget-paginator li {
		display: inline;
	}
		ul.f3-widget-paginator li.current a{
			color: black;
			font-weight: bold;
		}
		ul.f3-widget-paginator li.previous {
			float: left;
		}
		ul.f3-widget-paginator li.next {
			float: right;
		}
		ul.f3-widget-paginator li.pagination-text {
			padding-right: 7px;
		}

/*
 * MESSAGES
 */
.message-nav .active {font-weight: bold;}
.messages .message {border-top: 1px solid #cccccc;}
.messages .icon-wrap {float: left;}
.messages .content-wrap {
	margin-left: 70px;
}
.messages .message-header .item-delete {
	float:right;
}
.messages .message {
	overflow: hidden;
	padding: 10px 0;
}
.threaded .message-header {overflow: hidden;}
.threaded .text-info {overflow: hidden;}
.threaded .message-date {float: right;}
.threaded .message-tools { float: right; }


/*
 * FLAGS
 * sprite generated with http://spritegen.website-performance.org/
 */
.tx_community_flags {
	background-image:url("../Images/flags.png");
	background-repeat: no-repeat;
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-right: 2px;
	vertical-align: middle;
	width: 16px;
	height: 11px;
}

.tx_community_flag_aaa {background-position: 0 0;}
.tx_community_flag_ad {background-position: 0 -13px;}
.tx_community_flag_ae {background-position: 0 -26px;}
.tx_community_flag_af {background-position: 0 -39px;}
.tx_community_flag_ag {background-position: 0 -52px;}
.tx_community_flag_ai {background-position: 0 -65px;}
.tx_community_flag_al {background-position: 0 -78px;}
.tx_community_flag_am {background-position: 0 -91px;}
.tx_community_flag_an {background-position: 0 -104px;}
.tx_community_flag_ao {background-position: 0 -117px;}
.tx_community_flag_ar {background-position: 0 -130px;}
.tx_community_flag_as {background-position: 0 -143px;}
.tx_community_flag_at {background-position: 0 -156px;}
.tx_community_flag_au {background-position: 0 -169px;}
.tx_community_flag_aw {background-position: 0 -182px;}
.tx_community_flag_ax {background-position: 0 -195px;}
.tx_community_flag_az {background-position: 0 -208px;}
.tx_community_flag_ba {background-position: 0 -221px;}
.tx_community_flag_bb {background-position: 0 -234px;}
.tx_community_flag_bd {background-position: 0 -247px;}
.tx_community_flag_be {background-position: 0 -260px;}
.tx_community_flag_bf {background-position: 0 -273px;}
.tx_community_flag_bg {background-position: 0 -286px;}
.tx_community_flag_bh {background-position: 0 -299px;}
.tx_community_flag_bi {background-position: 0 -312px;}
.tx_community_flag_bj {background-position: 0 -325px;}
.tx_community_flag_bm {background-position: 0 -338px;}
.tx_community_flag_bn {background-position: 0 -351px;}
.tx_community_flag_bo {background-position: 0 -364px;}
.tx_community_flag_br {background-position: 0 -377px;}
.tx_community_flag_bs {background-position: 0 -390px;}
.tx_community_flag_bt {background-position: 0 -403px;}
.tx_community_flag_bv {background-position: 0 -416px;}
.tx_community_flag_bw {background-position: 0 -429px;}
.tx_community_flag_by {background-position: 0 -442px;}
.tx_community_flag_bz {background-position: 0 -455px;}
.tx_community_flag_ca {background-position: 0 -468px;}
.tx_community_flag_catalonia {background-position: 0 -481px;}
.tx_community_flag_cc {background-position: 0 -494px;}
.tx_community_flag_cd {background-position: 0 -507px;}
.tx_community_flag_cf {background-position: 0 -520px;}
.tx_community_flag_cg {background-position: 0 -533px;}
.tx_community_flag_ch {background-position: 0 -546px;}
.tx_community_flag_ci {background-position: 0 -559px;}
.tx_community_flag_ck {background-position: 0 -572px;}
.tx_community_flag_cl {background-position: 0 -585px;}
.tx_community_flag_cm {background-position: 0 -598px;}
.tx_community_flag_cn {background-position: 0 -611px;}
.tx_community_flag_co {background-position: 0 -624px;}
.tx_community_flag_cr {background-position: 0 -637px;}
.tx_community_flag_cs {background-position: 0 -650px;}
.tx_community_flag_cu {background-position: 0 -663px;}
.tx_community_flag_cv {background-position: 0 -676px;}
.tx_community_flag_cx {background-position: 0 -689px;}
.tx_community_flag_cy {background-position: 0 -702px;}
.tx_community_flag_cz {background-position: 0 -715px;}
.tx_community_flag_de {background-position: 0 -728px;}
.tx_community_flag_dj {background-position: 0 -741px;}
.tx_community_flag_dk {background-position: 0 -754px;}
.tx_community_flag_dm {background-position: 0 -767px;}
.tx_community_flag_do {background-position: 0 -780px;}
.tx_community_flag_dz {background-position: 0 -793px;}
.tx_community_flag_ec {background-position: 0 -806px;}
.tx_community_flag_ee {background-position: 0 -819px;}
.tx_community_flag_eg {background-position: 0 -832px;}
.tx_community_flag_eh {background-position: 0 -845px;}
.tx_community_flag_england {background-position: 0 -858px;}
.tx_community_flag_er {background-position: 0 -871px;}
.tx_community_flag_es {background-position: 0 -884px;}
.tx_community_flag_et {background-position: 0 -897px;}
.tx_community_flag_europeanunion {background-position: 0 -910px;}
.tx_community_flag_fam {background-position: 0 -923px;}
.tx_community_flag_fi {background-position: 0 -936px;}
.tx_community_flag_fj {background-position: 0 -949px;}
.tx_community_flag_fk {background-position: 0 -962px;}
.tx_community_flag_fm {background-position: 0 -975px;}
.tx_community_flag_fo {background-position: 0 -988px;}
.tx_community_flag_fr {background-position: 0 -1001px;}
.tx_community_flag_ga {background-position: 0 -1014px;}
.tx_community_flag_gb {background-position: 0 -1027px;}
.tx_community_flag_gd {background-position: 0 -1040px;}
.tx_community_flag_ge {background-position: 0 -1053px;}
.tx_community_flag_gf {background-position: 0 -1066px;}
.tx_community_flag_gh {background-position: 0 -1079px;}
.tx_community_flag_gi {background-position: 0 -1092px;}
.tx_community_flag_gl {background-position: 0 -1105px;}
.tx_community_flag_gm {background-position: 0 -1118px;}
.tx_community_flag_gn {background-position: 0 -1131px;}
.tx_community_flag_gp {background-position: 0 -1144px;}
.tx_community_flag_gq {background-position: 0 -1157px;}
.tx_community_flag_gr {background-position: 0 -1170px;}
.tx_community_flag_gs {background-position: 0 -1183px;}
.tx_community_flag_gt {background-position: 0 -1196px;}
.tx_community_flag_gu {background-position: 0 -1209px;}
.tx_community_flag_gw {background-position: 0 -1222px;}
.tx_community_flag_gy {background-position: 0 -1235px;}
.tx_community_flag_hk {background-position: 0 -1248px;}
.tx_community_flag_hm {background-position: 0 -1261px;}
.tx_community_flag_hn {background-position: 0 -1274px;}
.tx_community_flag_hr {background-position: 0 -1287px;}
.tx_community_flag_ht {background-position: 0 -1300px;}
.tx_community_flag_hu {background-position: 0 -1313px;}
.tx_community_flag_id {background-position: 0 -1326px;}
.tx_community_flag_ie {background-position: 0 -1339px;}
.tx_community_flag_il {background-position: 0 -1352px;}
.tx_community_flag_in {background-position: 0 -1365px;}
.tx_community_flag_io {background-position: 0 -1378px;}
.tx_community_flag_iq {background-position: 0 -1391px;}
.tx_community_flag_ir {background-position: 0 -1404px;}
.tx_community_flag_is {background-position: 0 -1417px;}
.tx_community_flag_it {background-position: 0 -1430px;}
.tx_community_flag_jm {background-position: 0 -1443px;}
.tx_community_flag_jo {background-position: 0 -1456px;}
.tx_community_flag_jp {background-position: 0 -1469px;}
.tx_community_flag_ke {background-position: 0 -1482px;}
.tx_community_flag_kg {background-position: 0 -1495px;}
.tx_community_flag_kh {background-position: 0 -1508px;}
.tx_community_flag_ki {background-position: 0 -1521px;}
.tx_community_flag_km {background-position: 0 -1534px;}
.tx_community_flag_kn {background-position: 0 -1547px;}
.tx_community_flag_kp {background-position: 0 -1560px;}
.tx_community_flag_kr {background-position: 0 -1573px;}
.tx_community_flag_kw {background-position: 0 -1586px;}
.tx_community_flag_ky {background-position: 0 -1599px;}
.tx_community_flag_kz {background-position: 0 -1612px;}
.tx_community_flag_la {background-position: 0 -1625px;}
.tx_community_flag_lb {background-position: 0 -1638px;}
.tx_community_flag_lc {background-position: 0 -1651px;}
.tx_community_flag_li {background-position: 0 -1664px;}
.tx_community_flag_lk {background-position: 0 -1677px;}
.tx_community_flag_lr {background-position: 0 -1690px;}
.tx_community_flag_ls {background-position: 0 -1703px;}
.tx_community_flag_lt {background-position: 0 -1716px;}
.tx_community_flag_lu {background-position: 0 -1729px;}
.tx_community_flag_lv {background-position: 0 -1742px;}
.tx_community_flag_ly {background-position: 0 -1755px;}
.tx_community_flag_ma {background-position: 0 -1768px;}
.tx_community_flag_mc {background-position: 0 -1781px;}
.tx_community_flag_md {background-position: 0 -1794px;}
.tx_community_flag_me {background-position: 0 -1807px;}
.tx_community_flag_mg {background-position: 0 -1820px;}
.tx_community_flag_mh {background-position: 0 -1833px;}
.tx_community_flag_mk {background-position: 0 -1846px;}
.tx_community_flag_ml {background-position: 0 -1859px;}
.tx_community_flag_mm {background-position: 0 -1872px;}
.tx_community_flag_mn {background-position: 0 -1885px;}
.tx_community_flag_mo {background-position: 0 -1898px;}
.tx_community_flag_mp {background-position: 0 -1911px;}
.tx_community_flag_mq {background-position: 0 -1924px;}
.tx_community_flag_mr {background-position: 0 -1937px;}
.tx_community_flag_ms {background-position: 0 -1950px;}
.tx_community_flag_mt {background-position: 0 -1963px;}
.tx_community_flag_mu {background-position: 0 -1976px;}
.tx_community_flag_multiple {background-position: 0 -1989px;}
.tx_community_flag_mv {background-position: -18px 0;}
.tx_community_flag_mw {background-position: -18px -13px;}
.tx_community_flag_mx {background-position: -18px -26px;}
.tx_community_flag_my {background-position: -18px -39px;}
.tx_community_flag_mz {background-position: -18px -52px;}
.tx_community_flag_na {background-position: -18px -65px;}
.tx_community_flag_nc {background-position: -18px -78px;}
.tx_community_flag_ne {background-position: -18px -91px;}
.tx_community_flag_nf {background-position: -18px -104px;}
.tx_community_flag_ng {background-position: -18px -117px;}
.tx_community_flag_ni {background-position: -18px -130px;}
.tx_community_flag_nl {background-position: -18px -143px;}
.tx_community_flag_no {background-position: -18px -156px;}
.tx_community_flag_np {background-position: -18px -169px;}
.tx_community_flag_nr {background-position: -18px -182px;}
.tx_community_flag_nu {background-position: -18px -195px;}
.tx_community_flag_nz {background-position: -18px -208px;}
.tx_community_flag_om {background-position: -18px -221px;}
.tx_community_flag_pa {background-position: -18px -234px;}
.tx_community_flag_pe {background-position: -18px -247px;}
.tx_community_flag_pf {background-position: -18px -260px;}
.tx_community_flag_pg {background-position: -18px -273px;}
.tx_community_flag_ph {background-position: -18px -286px;}
.tx_community_flag_pk {background-position: -18px -299px;}
.tx_community_flag_pl {background-position: -18px -312px;}
.tx_community_flag_pm {background-position: -18px -325px;}
.tx_community_flag_pn {background-position: -18px -338px;}
.tx_community_flag_pr {background-position: -18px -351px;}
.tx_community_flag_ps {background-position: -18px -364px;}
.tx_community_flag_pt {background-position: -18px -377px;}
.tx_community_flag_pw {background-position: -18px -390px;}
.tx_community_flag_py {background-position: -18px -403px;}
.tx_community_flag_qa {background-position: -18px -416px;}
.tx_community_flag_qc {background-position: -18px -429px;}
.tx_community_flag_re {background-position: -18px -442px;}
.tx_community_flag_ro {background-position: -18px -455px;}
.tx_community_flag_rs {background-position: -18px -468px;}
.tx_community_flag_ru {background-position: -18px -481px;}
.tx_community_flag_rw {background-position: -18px -494px;}
.tx_community_flag_sa {background-position: -18px -507px;}
.tx_community_flag_sb {background-position: -18px -520px;}
.tx_community_flag_sc {background-position: -18px -533px;}
.tx_community_flag_scotland {background-position: -18px -546px;}
.tx_community_flag_sd {background-position: -18px -559px;}
.tx_community_flag_se {background-position: -18px -572px;}
.tx_community_flag_sg {background-position: -18px -585px;}
.tx_community_flag_sh {background-position: -18px -598px;}
.tx_community_flag_si {background-position: -18px -611px;}
.tx_community_flag_sj {background-position: -18px -624px;}
.tx_community_flag_sk {background-position: -18px -637px;}
.tx_community_flag_sl {background-position: -18px -650px;}
.tx_community_flag_sm {background-position: -18px -663px;}
.tx_community_flag_sn {background-position: -18px -676px;}
.tx_community_flag_so {background-position: -18px -689px;}
.tx_community_flag_sr {background-position: -18px -702px;}
.tx_community_flag_st {background-position: -18px -715px;}
.tx_community_flag_sv {background-position: -18px -728px;}
.tx_community_flag_sy {background-position: -18px -741px;}
.tx_community_flag_sz {background-position: -18px -754px;}
.tx_community_flag_tc {background-position: -18px -767px;}
.tx_community_flag_td {background-position: -18px -780px;}
.tx_community_flag_tf {background-position: -18px -793px;}
.tx_community_flag_tg {background-position: -18px -806px;}
.tx_community_flag_th {background-position: -18px -819px;}
.tx_community_flag_tj {background-position: -18px -832px;}
.tx_community_flag_tk {background-position: -18px -845px;}
.tx_community_flag_tl {background-position: -18px -858px;}
.tx_community_flag_tm {background-position: -18px -871px;}
.tx_community_flag_tn {background-position: -18px -884px;}
.tx_community_flag_to {background-position: -18px -897px;}
.tx_community_flag_tr {background-position: -18px -910px;}
.tx_community_flag_tt {background-position: -18px -923px;}
.tx_community_flag_tv {background-position: -18px -936px;}
.tx_community_flag_tw {background-position: -18px -949px;}
.tx_community_flag_tz {background-position: -18px -962px;}
.tx_community_flag_ua {background-position: -18px -975px;}
.tx_community_flag_ug {background-position: -18px -988px;}
.tx_community_flag_um {background-position: -18px -1001px;}
.tx_community_flag_us {background-position: -18px -1014px;}
.tx_community_flag_uy {background-position: -18px -1027px;}
.tx_community_flag_uz {background-position: -18px -1040px;}
.tx_community_flag_va {background-position: -18px -1053px;}
.tx_community_flag_vc {background-position: -18px -1066px;}
.tx_community_flag_ve {background-position: -18px -1079px;}
.tx_community_flag_vg {background-position: -18px -1092px;}
.tx_community_flag_vi {background-position: -18px -1105px;}
.tx_community_flag_vn {background-position: -18px -1118px;}
.tx_community_flag_vu {background-position: -18px -1131px;}
.tx_community_flag_wf {background-position: -18px -1144px;}
.tx_community_flag_ws {background-position: -18px -1157px;}
.tx_community_flag_ye {background-position: -18px -1170px;}

