<label for="sender">
	<f:translate key="tx_community_domain_model_wallpost.sender" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="sender" /><br />
<label for="recipient">
	<f:translate key="tx_community_domain_model_wallpost.recipient" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="recipient" /><br />
<label for="subject">
	<f:translate key="tx_community_domain_model_wallpost.subject" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="subject" /><br />
<label for="message">
	<f:translate key="tx_community_domain_model_wallpost.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />